<!DOCTYPE html>
<html lang="en">

<head>
    <title><!--title--> | xtml</title>
    <!-- component: head.html -->
</head>

<body>
    <main>
        <!-- component: sidebar.html -->
        <div class="main-content">
          <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="blog.html">&larr; Back</a>
                </li>
            </ul>
          </nav>
          <!--children-->
        </div>
    </main>
    <!-- component: scripts.html -->
</body>

</html>