<!DOCTYPE html>
<html lang="en">

<head>
    <title><!--title--></title>
    <!-- component: head.html -->
</head>

<body>
    <main>
        <!-- component: sidebar.html -->
        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a class="navbar-link" href="blog.html">Back</a>
                    </li>
                </ul>
            </nav>
            <article class="blog active">
                <header>
                  <h2 class="h2 article-title"><!--title--></h2>
                </header>
              
                <div class="blog-post">
                  <div class="blog-banner-box">
                    <img src="https://res.cloudinary.com/komplexica/image/upload/sbwt8grabetwcmsb2faw.png" alt="Blog Post Banner">
                  </div>
                  <div class="blog-content">
                    <div class="blog-meta">
                      <span class="blog-category">Category</span>
                      <span class="dot"></span>
                      <time datetime="2024-06-21">June 21, 2024</time>
                    </div>
                    <h1 class="blog-item-title"><!--title--></h1>
                    <div class="blog-text">
                      <!--children-->
                    </div>
                  </div>
                </div>
              
              </article>
        </div>
    </main>
    <!-- component: scripts.html -->
</body>

</html>