<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <!-- <button class="navbar-link active" data-nav-link>Hello</button> -->
            <a class="navbar-link" data-nav-link href="index.html">Home</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" data-nav-link href="music.html">Music</a>
        </li>
        <li class="navbar-item">
            <!-- <button class="navbar-link" data-nav-link>Blog</button> -->
            <a class="navbar-link" data-nav-link href="blog.html">Blog</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" data-nav-link href="photography.html">Photography</a>
        </li>
        <!-- <li class="navbar-item">
            <a class="navbar-link" data-nav-link href="resume">Resume</a>
        </li> -->
        <li class="navbar-item">
            <!-- <button class="navbar-link" data-nav-link>Portfolio</button> -->
            <a class="navbar-link" data-nav-link href="portfolio.html">Portfolio</a>
        </li>
        <li class="navbar-item">
            <!-- <button class="navbar-link" data-nav-link>Contact</button> -->
            <a class="navbar-link" data-nav-link href="contact.html">Contact</a>
        </li>
    </ul>
</nav>