* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

:root{
  --text: #fff;
  --primary: #008F8C;
  --primary-dark: #023535;
  --accent: #FACFCE;
  --background: #121212;
}

body{
  background-color: var(--background);
  color: var(--text);
}

main {
  display: grid;
  max-width: 840px;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 30% 70%;
}

.sidebar-info{
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--text);
  color: var(--background); 
  border-radius: 12px;
}

.main-content{
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.navbar .navbar-list {
  display: flex;
  gap: 1rem;
}

.list,
.navbar .navbar-list .navbar-item {
  list-style: none;
}


.navbar .navbar-list .navbar-item .navbar-link {
  color: inherit;
}
.navbar .navbar-list .navbar-item .navbar-link:hover,
a:hover{
  color: var(--primary);
} 

.list-link{
  color: inherit;
}

.navbar .navbar-list .navbar-item .navbar-link.active,
.list-link.active {
  color: var(--primary);
}

.inline-link{
  display: inline-block;
  color: inherit;
}